/* TailwindCSS Tools */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */

.main-section{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.container-section{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    padding: 90px 40px;
    background-color: #fff;
}

/* Navbar Component */

.navbar{
    background-color: #f5f7f9;
    padding: 30px 40px;
    height: 100vh;
}

/* Active */
.active{
    color: #2666f0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 20px;
}


/* Table  styles */
.table-section{
    overflow-x: scroll;
}

table{
    border-collapse: collapse;
}

th, 
td{
    text-align: left;
    border-top: 1px solid #f1f1f1;
}

.user-status{
    color: #2666f0;
    font-weight: 500;
}

.user-status-wrong{
    color: #f5af37;
    font-weight: 500;
}

.table-register tbody tr:nth-child(odd){
    background-color: #edf5fa;
}


/* DRop shadow style */
/* .drop-shadow-css {
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
} */

/* user profile styles */
.user-profile{
    /* background-color: #f02626; */
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 2px 5px;
    grid-template-columns: auto 1fr;
}

.userSection{
    width: auto;
    height: auto;
    top: 50px;  
    right: -5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
}

.user-profile::after {
    content: "";
    clear: both;
}

/* Modal user styles*/
.modal-user{
    background-color: rgba(0, 0, 0, 0.1);
}
.btnModal-close {
    background-color: #f02626;
    top: 0;
    right: 0;
}

.btnModal-close:hover{
    background-color: #fff;
    border: 1px solid #f02626;
    color: #1d1d1d;
}

.btnModal-save{
    border: 1px solid #2666f0;
}

.btnModal-save:hover{
    background-color: #2666f0;
    color: #fff;
}