/*#######################################
    TAILWIND CSS TOOLS
#######################################*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*#######################################
    General - STYLES
#######################################*/
*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden ;
}

/* General Styles */
.main-section{
    width: 100vw;
    height: 100vh;
    background-color: #e1f0ff;
}
.h-90{
    height: 98vh;
}
/* scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #adadad;
}

::selection {
    background-color: transparent;
    color: inherit;
}

/*#######################################
    Users Table - STYLES
#######################################*/

/* Table  styles */
.table-section{
    background-color: #e7edf8;
    overflow-y: scroll;
    height: 750px;
}

/* .table-section tbody tr:nth-child(odd){
    background-color: #ffffff;
} */

table{
    border-collapse: collapse;
}

th, 
td{
    text-align: left;
}

.table-section tbody tr:nth-child(even){
    background-color: #f5f9ff;
}
.table-section tbody tr:nth-child(odd){
    background-color: #e7edf8;
}

/* Height Filter - styles */

.grid-register{
    display: grid;
    grid-template-columns: 250px 1fr;
    /* height: 800px; */
}
/*#######################################
    User Profile Dashboard - STYLES
#######################################*/

/* user profile styles */
.user-profile{
    /* position: absolute;
    right: 20px;
    top: 20px; */
    padding: 2px 5px;
    grid-template-columns: auto 1fr;
}

.userSection{
    width: auto;
    height: auto;
    top: 50px;  
    right: -5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
}

.user-profile::after {
    content: "";
    clear: both;
}



/*#######################################
    User Settings -  STYLES
#######################################*/

/* user setting styles */
.user-settigns{
    background-color: #f8f9fd;
}
.drop-shadow-user{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
.drop-shadow-information{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
}

.text-over{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center ;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}

.text-over:hover{
    opacity: 1;
}

.active-account{
    background-color: #1c7ed6;
}

.active-account:hover{
    background-color: #1971c2;
}

.active-lists{
    border: #339af0 1px solid;
}

.active-lists:hover{
    background-color: #339af0;
    color: #fff;
}

/* Modal user styles*/
.modal-user{
    background-color: rgba(0, 0, 0, 0.3);
}
.btnModal-close {
    background-color: #f02626;
    top: 0;
    right: 0;
}

.btnModal-close:hover{
    background-color: #c51717;
}

.btnModal-save{
    border: 1px solid #2666f0;
}

.btnModal-save:hover{
    background-color: #2666f0;
    color: #fff;
}


/*#######################################
    Upload File Modal -  STYLES
#######################################*/

/* File Modal */
.file-modal{
    background-color: rgba(0, 0, 0, 0.5);
}

.input-modal{
    background-color:  #2666f0 ;

}

